.photo{
    border-style: solid;
    border-color: black;
    padding: 9px;
    float: center;
    border-width: 9px;
    margin: 10px;
    height:500px;
    width:450
}

.description{
    opacity: 10%;
    height:500px;
    width:450
}